<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qihaosou" >

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.activity.MainActivity" android:theme="@style/ActivityTheme">

        </activity>
        <activity android:name=".ui.activity.SplashActivity" android:theme="@style/ActivityTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activity.LoginActivity" android:theme="@style/ActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            ></activity>
        <activity
            android:name=".ui.activity.VerifyPhoneActivity" android:theme="@style/ActivityTheme"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".ui.activity.RegisterActivity" android:theme="@style/ActivityTheme"></activity>
        <activity android:name=".ui.activity.SetActivity" android:theme="@style/ActivityTheme"></activity>
        <activity android:name=".ui.activity.UserEmialActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CompanySearchActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.EnterpriseDetailInfoActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.EnterpriseInfoDetailsActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.YearReportDetailsActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.MarkDetailsActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CompanyPatentActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.DemoActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.WebInfoActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.MarkListActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.PatentDetailActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CopyRightActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.RecruitInfoActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.RecruitDetailActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.TenderActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.TenderDetailActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CourtListActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CourtDocActivity" android:theme="@style/ActivityTheme"/>
        <activity android:name=".ui.activity.CommentListActivity" android:theme="@style/ActivityTheme"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105146713" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- umengAppKey，replace to yours -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d0037a67e58e424800179a" >
        </meta-data>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.process_outgoing_calls"/>
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- QQ、QQ空间所需权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />


</manifest>
